################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DTO/bin/Debug/net6.0
/DTO/obj
/Entity/bin/Debug/net6.0
/Entity/obj
/Repository/bin/Debug/net6.0
/Repository/obj
/Services/bin/Debug/net6.0
/Services/obj
/TimeTrackingApp/.vs
/TimeTrackingApp/bin/Debug/net6.0-windows
/TimeTrackingApp/obj
/DTO/bin/Release/net6.0
/Entity/bin/Release/net6.0
/Repository/bin/Release/net6.0
/Services/bin/Release/net6.0
/TimeTrackingWinForms/.vs
/TimeTrackingWinForms/bin
/TimeTrackingWinForms/obj
/TimeTrackingWinForms/Properties/PublishProfiles
/TimeTrackingWpf/bin
/TimeTrackingWpf/obj
/DIFactory/bin/Debug/net6.0
/DIFactory/obj
/ExcelGenerator/bin/Debug/net6.0
/ExcelGenerator/obj
